<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".WanApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroid"
        tools:targetApi="31">
        <activity
            android:name=".activity.home.TabActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WanAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.web.WebActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.about.AboutUsActivity" />
        <activity android:name=".activity.search.SearchActivity" />
        <activity android:name=".debug.DebugActivity" />
        <activity android:name=".activity.collect.MyCollectActivity"/>
        <activity android:name=".activity.knowledge_detail.KnowledgeDetailActivity"/>

    </application>

</manifest>
